@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
    display: flex;
    justify-content: center;
}

.font{
    font-family: 'Inter';
}

.dropdown-animation {
    animation: slideDown 0.5s ease forwards;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  